@import "title.css";

.contact {
  top: 108px;
  left: 15%;
  width: 68%;
  position: relative;
  margin: 1%;
}

.contact h1 {
  font-size: 24px;
  font-family: Roboto-medium;
  color: #014472;
  margin: 0px;
}

.contact h2 {
  font-size: 16px;
  color: #014472;
  margin: 8px;
}