@import "Title.css";

.CV {
  top: 108px;
  left: 15%;
  width: 68%;
  position: relative;
  margin: 1%;
}

.CV hr {
  width: 100%
}

.CV h1 {
  font-size: 24px;
  font-family: Roboto-medium;
  color: #014472;
  margin: 0px;
}

.CV h2 {
  font-size: 16px;
  color: #014472;
  margin: 8px;
}
