@import "fonts.css";

html, body {
  font-family: Roboto-Thin;
  background-color: #D4D3D5;
}

html { 
  overflow-y: scroll;
  overflow-x: hidden; 
}

body { 
  position: absolute; 
}

.leftBorder {
  height: 100%;
  width: 15%;
  position: fixed;
  top: 100px;
  left: 0%;
  background-color: #090B27;
}

.leftBorder a {
  font-family: Roboto-Medium;
  font-size: 24px;
  color: #D4D3D5;
  padding-left: 8px;
  text-decoration: none;
}

.rightBorder {
  height: 100%;
  width: 15%;
  position: fixed;
  top: 100px;
  right: 0%;
  background-color: #090B27;
}
