@import "Borders.css";

.Title {
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  position: fixed;
  background-color: #090B27;
  padding-left: 16%;
  padding-right: 16%;
  z-index: 1;
}

.Title h1 {
  font-size: 48px;
  font-family: Roboto-Regular;
  color: #D4D3D5;
  margin: 0px;
}

.Title h2 {
  font-size: 24px;
  color: #D4D3D5;
  margin: 0px;
}
