
@import "fonts.css";

html, body {
  font-family: Roboto-Thin;
  background-color: #D4D3D5;
}

.name {
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 200px;
  background-color: #090B27;
  padding-left: 16px;
}

.name h1 {
  font-size: 48px;
  font-family: Roboto-Regular;
  color: #D4D3D5;
  margin: 0px;
}

.name h2 {
  font-size: 24px;
  color: #FFFFFC;
  margin: 0px;
}

.cv {
  top: 108px;
  left: 200px;
  position: fixed;
  padding-left: 16px;
}

.cv h1 {
  font-size: 24px;
  font-family: Roboto-medium;
  color: #014472;
  margin: 0px;
}

.cv h2 {
  font-size: 16px;
  color: #014472;
  margin: 8px;
}

.leftBorder {
  height: 100%;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #090B27;
}

.rightBorder {
  height: 100%;
  width: 200px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #090B27;
}
